<form nz-form [formGroup]="form" (keydown)="formKeyDownFunction($event)" (ngSubmit)="_submitForm()">
  <nz-card [nzBordered]="false" nzTitle="项目资料">
    <!-- 标签页 -->
    <nz-tabset nzSize="large">
      <nz-tab nzTitle="路径配置" (nzSelect)="getCurrentUploadTabID(-1)">
        <!-- 根目录 -->
        <nz-row nzGutter="16">
          <nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label>{{ projectStepService.projectNewFilePaths[0].text }}</nz-form-label>
              <nz-form-control>
                <nz-row style="flex-wrap: nowrap;">
                  <nz-col nzFlex="auto">
                    <!-- 因为debug里有个提示，删除input里的disabled改成
                      first: new FormControl({value: 'Nancy', disabled: true}, Validators.required), -->
                    <input
                      nz-input
                      [formControlName]="projectStepService.projectNewFilePaths[0].key"
                      #rootDirInputRef
                      [nzSize]="inputSize"
                    />
                  </nz-col>
                  <nz-col nzFlex="120px">
                    <button
                      nz-button
                      nzType="primary"
                      type="button"
                      (click)="selectDirOnclick(projectStepService.projectNewFilePaths[0].key)"
                      value="{{ projectStepService.projectNewFilePaths[0].key }}"
                      [nzSize]="inputSize"
                    >
                      ...
                    </button>
                    <!-- <button
                      nz-button
                      nzType="primary"
                      type="button"
                      nzDanger
                      (click)="clearDirOnclick(projectStepService.projectNewFilePaths[0].key)"
                      value="{{ projectStepService.projectNewFilePaths[0].key }}"
                      [disabled]="form.get(projectStepService.projectNewFilePaths[0].key).value === null"
                    >
                      清除
                    </button> -->
                  </nz-col>
                </nz-row>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
        </nz-row>
        <!-- 2020-6-24不能修改根目录下各个子目录 -->
        <!-- <nz-row nzGutter="16" *ngFor="let childPathConfig of projectStepService.projectNewFilePaths[0].children; let i = index">
          <nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label>{{ childPathConfig.text }}</nz-form-label>
              <nz-form-control>
                <nz-row style="flex-wrap: nowrap;">
                  <nz-col nzFlex="auto">                    
                    <input nz-input [formControlName]="childPathConfig.key" />
                  </nz-col>
                  <nz-col nzFlex="120px">
                    <button nz-button nzType="primary" type="button" (click)="selectDirOnclick(childPathConfig.key)">
                      ...
                    </button>
                    <button
                      nz-button
                      nzType="primary"
                      type="button"
                      nzDanger
                      (click)="clearDirOnclick(childPathConfig.key)"
                      value="{{ childPathConfig.key }}"
                      [disabled]="form.get(childPathConfig.key).value === null"
                    >
                      清除
                    </button>
                  </nz-col>
                </nz-row>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
        </nz-row> -->
      </nz-tab>
      <nz-tab
        *ngFor="let childPathConfig of projectStepService.projectNewFilePaths[0].children; let i = index"
        [nzTitle]="childPathConfig.text"
        (nzSelect)="getCurrentUploadTabID(i)"
      >
        <!-- 按钮模板 -->
        <ng-template #extraTemplate>
          <button nz-button nzType="primary" type="button" (click)="selectDirOnclick(childPathConfig.key)">
            更改根目录
          </button>
          <button
            nz-button
            nzType="primary"
            type="button"
            (click)="importFileOnclick()"
            [disabled]="form.get(childPathConfig.key).value === null"
          >
            导入
          </button>
          <!-- <button
            nz-button
            nzType="primary"
            type="button"
            nzDanger
            (click)="clearDirOnclick(childPathConfig.key)"
            value="{{ childPathConfig.key }}"
            [disabled]="form.get(childPathConfig.key).value === null"
          >
            清除
          </button> -->
        </ng-template>
        <!-- 标题模板 -->
        <ng-template #cardTitleTemplate>
          <div nz-tooltip [nzTooltipTitle]="form.get(childPathConfig.key).value === null ? '无' : form.get(childPathConfig.key).value">
            {{ form.get(childPathConfig.key).value === null ? '上传目录：无' : '上传目录：' + form.get(childPathConfig.key).value }}
          </div>
        </ng-template>
        <nz-card nzType="inner" [nzTitle]="cardTitleTemplate" [nzExtra]="extraTemplate">
          <!-- 懒加载 使用懒加载，上传时切换标签，再切回来时，上传没有了，所以屏蔽了-->
          <!-- <ng-template nz-tab> -->
          <!-- [nzData]="childPathConfig" -->
          <!-- [nzBeforeUpload]="beforeUpload" -->
          <nz-upload
            [nzMultiple]="true"
            [(nzFileList)]="projectStepService.uploadFileLists[i]"
            [nzShowUploadList]="true"
            nzType="drag"
            [nzAction]="uploadAction"
            (nzChange)="handleChange($event, i)"
            [nzDisabled]="form.get(childPathConfig.key).value === null"
            [nzData]="uploadData"
          >
            <p class="ant-upload-drag-icon">
              <i nz-icon nzType="inbox"></i>
            </p>
            <p class="ant-upload-text">单击或拖动文件到此区域上传</p>
            <p class="ant-upload-hint">
              支持单个或批量上传
            </p>
          </nz-upload>
          <!-- </ng-template> -->
        </nz-card>
      </nz-tab>
    </nz-tabset>
  </nz-card>
  <footer-toolbar errorCollect>
    <button nz-button (click)="prev()" [nzSize]="inputSize">
      <span>上一步：{{ projectStepService.stepTitles[projectStepService.step - 1] }}</span>
    </button>
    <button nz-button nzType="primary" [nzSize]="inputSize">
      <span>下一步：{{ projectStepService.stepTitles[projectStepService.step + 1] }}</span>
    </button>
  </footer-toolbar>
</form>
