<form nz-form [formGroup]="form" (keydown.enter)="(false)" (ngSubmit)="_submitForm()">
  <nz-card [nzBordered]="false">
    <nz-form-item [nzJustify]="'start'">
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24" nzRequired>项目内部ID</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input placeholder="自动生成无需填写" disabled [nzSize]="inputSize" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24" nzRequired>
        <span>
          项目名称
          <i nz-icon nz-tooltip nzTooltipTitle="尽量与合同名称一致" nzType="question-circle" nzTheme="outline"></i>
        </span>
      </nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入项目名称">
        <input nz-input formControlName="projectName" placeholder="请输入项目名称【尽量与合同名称一致】" [nzSize]="inputSize" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24" nzRequired>立项依据</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请选择立项依据">
        <nz-select
          formControlName="initRoot"
          [nzPlaceHolder]="'请选择立项依据'"
          [nzShowSearch]="true"
          [nzSize]="inputSize"
          [compareWith]="compareFn"
        >
          <nz-option *ngFor="let i of projectStepService.projectRoots" [nzLabel]="i.name" [nzValue]="i"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24" nzRequired>项目经理</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请选择项目经理">
        <nz-select
          formControlName="projectManager"
          [nzShowSearch]="true"
          [nzPlaceHolder]="'请选择项目经理'"
          [nzSize]="inputSize"
          #projectManagerRef
          (ngModelChange)="projectManagerChange($event)"
          [compareWith]="compareFn"
        >
          <nz-option *ngFor="let i of projectStepService.users" [nzLabel]="i.name" [nzValue]="i"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">项目主要成员</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-select
          formControlName="projectMembers"
          [nzShowSearch]="true"
          [nzPlaceHolder]="'请选择项目主要成员'"
          [nzSize]="inputSize"
          nzMode="multiple"
          #projectMembersRef
          [compareWith]="compareFn"
        >
          <nz-option
            *ngFor="let i of projectStepService.users"
            [nzDisabled]="i === projectManagerRef.activatedValue"
            [nzLabel]="i.name"
            [nzValue]="i"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">项目属性</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-input-group nzCompact style="display: flex; flex-wrap: nowrap;">
          <nz-select
            formControlName="projectProperty"
            [nzPlaceHolder]="'请选择项目属性'"
            (ngModelChange)="projectPropertyChange($event)"
            [nzSize]="inputSize"
            style="flex: 0 0 100px;"
          >
            <nz-option [nzLabel]="'主项目'" [nzValue]="'parent'"></nz-option>
            <nz-option [nzLabel]="'子项目'" [nzValue]="'child'"></nz-option>
          </nz-select>

          <nz-select
            formControlName="projectRelevance"
            [nzPlaceHolder]="'请选择关联主项目'"
            [nzShowSearch]="true"
            [nzDisabled]="projectStepService.projectRelevanceDisabled"
            (ngModelChange)="projectRelevanceChange($event)"
            nz-tooltip
            [nzTooltipTitle]="projectRelevanceObj.name"
            [nzSize]="inputSize"
            style="flex: 1 1 auto; width: 100px;"
            [compareWith]="compareFn"
          >
            <nz-option *ngFor="let i of projectStepService.parentProjects" [nzLabel]="i.name" [nzValue]="i"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24" nzRequired>立项时间</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input placeholder="自动生成无需填写" disabled [nzSize]="inputSize" />
      </nz-form-control>
    </nz-form-item>
  </nz-card>
  <footer-toolbar errorCollect>
    <button nz-button nzType="primary" [nzSize]="inputSize">
      <span>下一步：{{ projectStepService.stepTitles[projectStepService.step + 1] }}</span>
    </button>
  </footer-toolbar>
</form>
