<nz-card [nzBordered]="false" [nzTitle]="projectStepService.stepTitles[0]">
  <nz-descriptions nzBordered [nzColumn]="1" nzLayout="vertical">
    <nz-descriptions-item nzTitle="项目内部ID">自动生成</nz-descriptions-item>
    <nz-descriptions-item nzTitle="项目名称">{{ projectStepService.projectName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="立项依据">{{ projectStepService.initRoot.name }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="项目经理">{{ projectStepService.projectManager.name }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="项目主要成员">{{ projectMembers }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="项目属性"
      >{{ projectStepService.projectProperty === 'child' ? '子项目' : ''
      }}{{ projectStepService.projectProperty === 'parent' ? '主项目' : '' }}</nz-descriptions-item
    >
    <nz-descriptions-item nzTitle="关联主项目" *ngIf="projectStepService.projectProperty === 'child'">{{
      projectStepService.projectRelevance.name
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="立项时间">自动生成</nz-descriptions-item>
  </nz-descriptions>
</nz-card>
<nz-card [nzBordered]="false" [nzTitle]="projectStepService.stepTitles[1]">
  <nz-descriptions nzBordered [nzColumn]="1" nzLayout="vertical">
    <nz-descriptions-item nzTitle="合同编号（惠东）">{{ projectStepService.contractIDHD }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="合同编号（甲方）">{{ projectStepService.contractIDYZ }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="合同名称">{{ projectStepService.contractName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="甲方名称">{{ projectStepService.partyAName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="合同类型">{{ projectStepService.contractType.name }}</nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="projectDateRangeTemp"
      >{{ (projectStepService.projectDateRange === null ? null : projectStepService.projectDateRange[0]) | date: 'yyyy-MM-dd' }}
      <i nz-icon nzType="swap-right" nzTheme="outline"></i>
      {{
        (projectStepService.projectDateRange === null ? null : projectStepService.projectDateRange[1]) | date: 'yyyy-MM-dd'
      }}</nz-descriptions-item
    >
    <ng-template #projectDateRangeTemp>
      <!-- <td class="ant-descriptions-item-label ng-star-inserted"> -->
      工期
      <i nz-icon nz-tooltip nzTooltipTitle="起始时间、结束时间" nzType="question-circle" nzTheme="outline"></i>
      <!-- </td> -->
    </ng-template>
    <nz-descriptions-item nzTitle="签订日期">{{ projectStepService.contractDate | date: 'yyyy-MM-dd' }} </nz-descriptions-item>
    <nz-descriptions-item nzTitle="质保期">{{
      projectStepService.warranty === null ? '' : projectStepService.warranty + '月'
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="项目地址">{{ projectStepService.projectAddress }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="甲方单位地址">{{ projectStepService.partyAAddress }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="甲方联系人姓名">{{ projectStepService.partyALinkmanName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="甲方联系人电话">{{ projectStepService.partyALinkmanPhone }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="工程内容">{{ projectStepService.projectContent }}</nz-descriptions-item>
  </nz-descriptions>
</nz-card>
<nz-card [nzBordered]="false" [nzTitle]="projectStepService.stepTitles[2]">
  <nz-table [nzShowPagination]="false" [nzData]="projectStepService.linkmenInfo" nzTitle="甲方联系人信息" [nzScroll]="{ x: '1100px' }">
    <thead>
      <tr>
        <th>姓名</th>
        <th>类别</th>
        <th>单位名称</th>
        <th>职务</th>
        <th>手机</th>
        <th>电话</th>
        <th>QQ号码</th>
        <th>微信号码</th>
        <th>电子邮箱</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of projectStepService.linkmenInfo; let i = index">
        <td>
          <span>{{ item.linkmanName }}</span>
        </td>
        <td>
          <span>{{ item.linkmanType.name }}</span>
        </td>
        <td>
          <span>{{ item.linkmanCompanyName }}</span>
        </td>
        <td>
          <span>{{ item.linkmanDuty }}</span>
        </td>
        <td>
          <span>{{ item.linkmanCellphone }}</span>
        </td>
        <td>
          <span>{{ item.linkmanPhone }}</span>
        </td>
        <td>
          <span>{{ item.linkmanQQ }}</span>
        </td>
        <td>
          <span>{{ item.linkmanWeChat }}</span>
        </td>
        <td>
          <span>{{ item.linkmanEmail }}</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<nz-card [nzBordered]="false" [nzTitle]="projectStepService.stepTitles[3]">
  <nz-table [nzShowPagination]="false" [nzData]="projectStepService.subcontractInfo" nzTitle="业主联系人信息">
    <thead>
      <tr>
        <th>分包商名称</th>
        <th>合同金额（元）</th>
        <th>工作内容</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of projectStepService.subcontractInfo; let i = index">
        <td>
          <span>{{ item.subcontractName }}</span>
        </td>
        <td>
          <span>{{ item.subcontractSum | _currency }}</span>
        </td>
        <td>
          <span>{{ item.subcontractDetails }}</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<nz-card [nzBordered]="false" [nzTitle]="projectStepService.stepTitles[4]">
  <!-- 标签页 -->
  <nz-tabset nzSize="large">
    <nz-tab nzTitle="路径配置">
      <nz-descriptions [nzColumn]="1" nzBordered nzLayout="vertical">
        <!-- 根目录 -->
        <nz-descriptions-item [nzTitle]="projectStepService.projectNewFilePaths[0].text">{{
          projectStepService.rootDir
        }}</nz-descriptions-item>
        <!-- 其他子目录 -->
        <nz-descriptions-item
          *ngFor="let childPathConfig of projectStepService.projectNewFilePaths[0].children"
          [nzTitle]="childPathConfig.text"
          >{{ projectStepService[childPathConfig.key] }}</nz-descriptions-item
        >
      </nz-descriptions>
    </nz-tab>
    <nz-tab
      *ngFor="let childPathConfig of projectStepService.projectNewFilePaths[0].children; let i = index"
      [nzTitle]="childPathConfig.text"
    >
      <nz-card nzType="inner">
        <h3
          [ngStyle]="{ margin: '16px 0' }"
          nz-tooltip
          [nzTooltipTitle]="projectStepService[childPathConfig.key] === null ? '无' : projectStepService[childPathConfig.key]"
        >
          {{ projectStepService[childPathConfig.key] === null ? '上传目录：无' : '上传目录：' + projectStepService[childPathConfig.key] }}
        </h3>
        <nz-list nzBordered nzSize="large">
          <nz-list-header>文件列表</nz-list-header>
          <nz-list-item *ngFor="let uploadFile of projectStepService.uploadFileLists[i]">
            <span><i nz-icon nzType="paper-clip" nzTheme="outline"></i>{{ uploadFile.name }}</span>
          </nz-list-item>
        </nz-list>
      </nz-card>
    </nz-tab>
  </nz-tabset>
</nz-card>
<footer-toolbar>
  <button nz-button (click)="prev()" [nzSize]="inputSize">
    <span>上一步：{{ projectStepService.stepTitles[projectStepService.step - 1] }}</span>
  </button>
  <button nz-button nzType="primary" [nzSize]="inputSize">
    <span>下一步：{{ projectStepService.stepTitles[projectStepService.step + 1] }}</span>
  </button>
</footer-toolbar>
