<form nz-form [formGroup]="form" (keydown)="formKeyDownFunction($event)" (ngSubmit)="_submitForm()">
  <nz-card [nzBordered]="false" nzTitle="甲方联系人信息">
    <nz-table formArrayName="partyALinkmanInfo" [nzShowPagination]="false" [nzData]="partyALinkmanInfo.value">
      <thead>
        <tr>
          <th>姓名</th>
          <th>手机</th>
          <th>电话</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of partyALinkmanInfo.controls; let i = index" [formGroupName]="i">
          <td>
            <span *ngIf="partyALinkmanEditIndex !== i">{{ partyALinkmanInfo.value[i].partyALinkmanName }}</span>
            <span *ngIf="partyALinkmanEditIndex === i" nz-form-control>
              <input nz-input formControlName="partyALinkmanName" placeholder="请输入甲方联系人姓名" [nzSize]="inputSize" />
            </span>
          </td>
          <td>
            <span *ngIf="partyALinkmanEditIndex !== i">{{ partyALinkmanInfo.value[i].partyALinkmanCellphone }}</span>
            <span *ngIf="partyALinkmanEditIndex === i" nz-form-control>
              <input nz-input formControlName="partyALinkmanCellphone" placeholder="请输入甲方联系人手机" [nzSize]="inputSize" />
            </span>
          </td>
          <td>
            <span *ngIf="partyALinkmanEditIndex !== i">{{ partyALinkmanInfo.value[i].partyALinkmanPhone }}</span>
            <span *ngIf="partyALinkmanEditIndex === i" nz-form-control>
              <input nz-input formControlName="partyALinkmanPhone" placeholder="请输入甲方联系人电话" [nzSize]="inputSize" />
            </span>
          </td>
          <td>
            <span *ngIf="partyALinkmanEditIndex !== i">
              <a (click)="editPartyALinkman(i)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="是否要删除此行？" (nzOnConfirm)="delPartyALinkman(i)">删除</a>
            </span>
            <span *ngIf="partyALinkmanEditIndex === i">
              <a (click)="savePartyALinkman(i)">保存</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="是否要取消操作？" (nzOnConfirm)="cancelPartyALinkman(i)">取消</a>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <button *ngIf="partyALinkmanEditIndex === -1" nz-button [nzType]="'dashed'" (click)="addPartyALinkman()" nzBlock class="mt-md">
      <i nz-icon nzType="plus"></i>
      <span>新增甲方联系人</span>
    </button>
  </nz-card>

  <nz-card [nzBordered]="false" nzTitle="业主联系人信息">
    <nz-table formArrayName="proprietorLinkmanInfo" [nzShowPagination]="false" [nzData]="proprietorLinkmanInfo.value">
      <thead>
        <tr>
          <th>姓名</th>
          <th>手机</th>
          <th>电话</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of proprietorLinkmanInfo.controls; let i = index" [formGroupName]="i">
          <td>
            <span *ngIf="proprietorLinkmanEditIndex !== i">{{ proprietorLinkmanInfo.value[i].proprietorLinkmanName }}</span>
            <span *ngIf="proprietorLinkmanEditIndex === i" nz-form-control>
              <input nz-input formControlName="proprietorLinkmanName" placeholder="请输入甲方联系人姓名" [nzSize]="inputSize" />
            </span>
          </td>
          <td>
            <span *ngIf="proprietorLinkmanEditIndex !== i">{{ proprietorLinkmanInfo.value[i].proprietorLinkmanCellphone }}</span>
            <span *ngIf="proprietorLinkmanEditIndex === i" nz-form-control>
              <input nz-input formControlName="proprietorLinkmanCellphone" placeholder="请输入甲方联系人手机" [nzSize]="inputSize" />
            </span>
          </td>
          <td>
            <span *ngIf="proprietorLinkmanEditIndex !== i">{{ proprietorLinkmanInfo.value[i].proprietorLinkmanPhone }}</span>
            <span *ngIf="proprietorLinkmanEditIndex === i" nz-form-control>
              <input nz-input formControlName="proprietorLinkmanPhone" placeholder="请输入甲方联系人电话" [nzSize]="inputSize" />
            </span>
          </td>
          <td>
            <span *ngIf="proprietorLinkmanEditIndex !== i">
              <a (click)="editProprietorLinkman(i)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="是否要删除此行？" (nzOnConfirm)="delProprietorLinkman(i)">删除</a>
            </span>
            <span *ngIf="proprietorLinkmanEditIndex === i">
              <a (click)="saveProprietorLinkman(i)">保存</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="是否要取消操作？" (nzOnConfirm)="cancelProprietorLinkman(i)">取消</a>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <button *ngIf="proprietorLinkmanEditIndex === -1" nz-button [nzType]="'dashed'" (click)="addProprietorLinkman()" nzBlock class="mt-md">
      <i nz-icon nzType="plus"></i>
      <span>新增业主联系人</span>
    </button>
  </nz-card>

  <footer-toolbar errorCollect>
    <button nz-button (click)="prev()" [nzSize]="inputSize">
      <span>上一步：{{ projectStepService.stepTitles[projectStepService.step - 1] }}</span>
    </button>
    <button nz-button nzType="primary" [nzSize]="inputSize">
      <span>下一步：{{ projectStepService.stepTitles[projectStepService.step + 1] }}</span>
    </button>
  </footer-toolbar>
</form>
