<nz-card [nzBordered]="false" nzTitle="联系人信息">
  <div class="table-operations">
    <button nz-button (click)="addLinkman(linkmanFormModalContent)"><i nz-icon nzType="plus"></i> <span>新增联系人</span></button>
  </div>
  <nz-table [nzShowPagination]="false" [nzData]="projectStepService.linkmenInfo" [nzScroll]="{ x: '1100px' }" #linkmenInfoTable>
    <thead>
      <tr>
        <th>姓名</th>
        <th>类别</th>
        <th>单位名称</th>
        <th>职务</th>
        <th>手机</th>
        <th>电话</th>
        <th>QQ号码</th>
        <th>微信号码</th>
        <th>电子邮箱</th>
        <th nzRight>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of projectStepService.linkmenInfo; let i = index">
        <td>
          <span>{{ item.linkmanName }}</span>
        </td>
        <td>
          <span>{{ item.linkmanType.name }}</span>
        </td>
        <td>
          <span>{{ item.linkmanCompanyName }}</span>
        </td>
        <td>
          <span>{{ item.linkmanDuty }}</span>
        </td>
        <td>
          <span>{{ item.linkmanCellphone }}</span>
        </td>
        <td>
          <span>{{ item.linkmanPhone }}</span>
        </td>
        <td>
          <span>{{ item.linkmanQQ }}</span>
        </td>
        <td>
          <span>{{ item.linkmanWeChat }}</span>
        </td>
        <td>
          <span>{{ item.linkmanEmail }}</span>
        </td>
        <td nzRight>
          <span>
            <a (click)="editLinkman(i, linkmanFormModalContent)">编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzPopconfirmTitle="是否要删除此行？" (nzOnConfirm)="delLinkman(i)">删除</a>
          </span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<!-- 使用模版作为内容时上下文为 { $implicit: nzComponentParams, modalRef: NzModalRef } -->
<ng-template #linkmanFormModalContent let-params let-ref="modalRef">
  <app-project-linkman-form
    [inputSize]="params.inputSize"
    [linkmanTypes]="params.linkmanTypes"
    [modalRef]="ref"
    [linkmanEditIndex]="params.linkmanEditIndex"
    [linkmanInfo]="params.linkmanInfo"
    (linkmanForm)="linkmanFormSubmit($event)"
  ></app-project-linkman-form>
</ng-template>

<footer-toolbar>
  <button nz-button (click)="prev()" [nzSize]="inputSize">
    <span>上一步：{{ projectStepService.stepTitles[projectStepService.step - 1] }}</span>
  </button>
  <button nz-button (click)="next()" nzType="primary" [nzSize]="inputSize">
    <span>下一步：{{ projectStepService.stepTitles[projectStepService.step + 1] }}</span>
  </button>
</footer-toolbar>
