<form nz-form [formGroup]="form" (keydown)="formKeyDownFunction($event)" (ngSubmit)="_submitForm()">
  <nz-card [nzBordered]="false">
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">合同编号（惠东）</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="contractIDHD" placeholder="请输入合同编号（惠东）" [nzSize]="inputSize" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">合同编号（甲方）</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="contractIDYZ" placeholder="合同编号（甲方）" [nzSize]="inputSize" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">
        <span>
          合同名称
          <i nz-icon nz-tooltip nzTooltipTitle="请输入合同全称" nzType="question-circle" nzTheme="outline"></i>
        </span>
      </nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="contractName" placeholder="请输入合同名称【合同全称】" [nzSize]="inputSize" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">合同类型</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-select formControlName="contractType" [nzPlaceHolder]="'请选择合同类型'" [nzShowSearch]="true" [nzSize]="inputSize">
          <nz-option *ngFor="let i of projectStepService.contractTypes" [nzLabel]="i.name" [nzValue]="i.id"> </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">甲方名称</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="partyAName" placeholder="请输入甲方名称" [nzSize]="inputSize" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">
        <span>
          工期
          <i nz-icon nz-tooltip nzTooltipTitle="起始时间、结束时间" nzType="question-circle" nzTheme="outline"></i>
        </span>
      </nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-range-picker formControlName="projectDateRange" [nzFormat]="projectStepService.dateFormat"></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">签订日期</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-date-picker formControlName="contractDate" [nzFormat]="projectStepService.dateFormat"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">质保期</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-input-group nzAddOnAfter="月">
          <nz-input-number [nzMin]="1" [nzMax]="240" [nzStep]="1" formControlName="warranty" placeholder="请输入质保期"></nz-input-number>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">项目地址</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="projectAddress" placeholder="请输入项目地址" [nzSize]="inputSize" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">甲方单位地址</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="partyAAddress" placeholder="请输入甲方单位地址" [nzSize]="inputSize" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">甲方联系人姓名</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="partyALinkmanName" placeholder="请输入甲方联系人姓名" [nzSize]="inputSize" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">甲方联系人电话</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="partyALinkmanPhone" placeholder="请输入甲方联系人电话" [nzSize]="inputSize" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="6" [nzXs]="24">工程内容</nz-form-label>
      <nz-form-control [nzMd]="20" [nzSm]="18" [nzXs]="24">
        <textarea
          nz-input
          formControlName="projectContent"
          [nzAutosize]="{ minRows: 4 }"
          placeholder="请输入工程内容"
          [nzSize]="inputSize"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </nz-card>
  <footer-toolbar errorCollect>
    <button nz-button (click)="prev()" [nzSize]="inputSize">
      <span>上一步：{{ projectStepService.stepTitles[projectStepService.step - 1] }}</span>
    </button>
    <button nz-button nzType="primary" [nzSize]="inputSize">
      <span>下一步：{{ projectStepService.stepTitles[projectStepService.step + 1] }}</span>
    </button>
  </footer-toolbar>
</form>
